<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="socket.io.js"></script>
    <title>Vadības panelis</title>
  </head>

  <body>
    <section hidden>
      <div id="change_username">
        <input id="username" type="text" />
        <button id="send_username" type="button">Change username</button>
      </div>
    </section>

    <section id="input_zone" hidden>
      <textarea id="message" class="vertical-align"></textarea>
      <button id="send_message" class="vertical-align" type="button">
        Send
      </button>
    </section>

    <div class="container">
      <header>
      <div class="row mb-5">
        <div class="col-sm">
          <h1 class="display-4 float-left">Bībeles panti raidījumam</h1>
          <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addVerseModal" style="margin-top: 1em;">
                Pievienot pantu
              </button>
              <button type="button" class="btn btn-danger" style="margin-top: 1em;">
                Dzēst visus pantus
              </button>
              <button type="button" class="btn btn-dark" style="margin-top: 1em;">Tīrīt displeju</button>
            </div>
        </div>
      </div>
      </header>
      <div class="row ">
        <div class="col-sm"></div>
      </div>
      <div class="row">
        <div class="col-sm" id="host">
          <% data.host.forEach(function(verses, index){
            if (/\d/.test(verses.verse)) { %>
            <div class="card mb-3">
            <div class="card-body">
              <div class="card-title" id="js-scripture-<%= verses.id %>">
                <%= verses.scripture %>
                <button type="button" class="close" aria-label="Close" onclick="deleteVerseFromJSON('<%= index %>', 'host')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Vadītājs</h6>
                <div class="list-group" id="js-verse-<%= verses.id %>">
                    <% verses.verse.match(/\d+\s+[A-ž\s\x2C\x2E\x3A\x22\x2D]+/g).forEach( function (res, count) {%>
                      <button type="button" class="list-group-item list-group-item-action verse-button">
                        <%= res %>
                      </button>
                    <% })%>
                </div>
              </p>
              <button class="btn btn-secondary" onclick="SendToDisplayAll('<%= verses.id %>')">Rādīt visu</button> 
              <button class="btn btn-primary sendSelected" onclick="SendToDisplaySelected('<%= verses.id %>')" disabled>Rādīt iezīmētos</button>
            </div>
          </div>
          <% }
          else { %>
            <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title" id="js-<%= verses.id %>-scripture">
                <%= verses.scripture %>
                <button type="button" class="close" aria-label="Close" onclick="deleteVerseFromJSON('<%= index %>', 'host')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </h5>

              <h6 class="card-subtitle mb-2 text-muted">Vadītājs</h6>
              <p class="card-text" id="js-<%= verses.id %>-verse">
                <%= verses.verse %>
              </p>
              <button onclick="sendToDisplay('<%= verses.id %>')" class="btn btn-outline-primary">Rādīt</button>
            </div>
          </div>
          <% }
          })%>
          
        </div>
        <div class="col-sm" id="guest">
          <% data.guest.forEach(function(verses, index){
            if (/\d/.test(verses.verse)) { %>
            <div class="card mb-3">
            <div class="card-body">
              <div class="card-title" id="js-scripture-<%= verses.id %>">
                <%= verses.scripture %>
                <button type="button" class="close" aria-label="Close" onclick="deleteVerseFromJSON('<%= index %>', 'guest')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Viesis</h6>
                <div class="list-group" id="js-verse-<%= verses.id %>">
                    <% verses.verse.match(/\d+\s+[A-ž\s\x3A\x3B\x22\x2D\x2C\x2E\x21\x3F]+/g).forEach( function (res, count) {%>
                      <button type="button" class="list-group-item list-group-item-action verse-button">
                        <%= res %>
                      </button>
                    <% })%>
                </div>
              </p>
              <button class="btn btn-secondary" onclick="SendToDisplayAll('<%= verses.id %>')">Rādīt visu</button> 
              <button class="btn btn-primary sendSelected" onclick="SendToDisplaySelected('<%= verses.id %>')" disabled>Rādīt iezīmētos</button>
            </div>
          </div>
          <% }
          else { %>
            <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title" id="js-<%= verses.id %>-scripture">
                <%= verses.scripture %>
                <button type="button" class="close" aria-label="Close" onclick="deleteVerseFromJSON('<%= index %>', 'guest')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </h5>

              <h6 class="card-subtitle mb-2 text-muted">Viesis</h6>
              <p class="card-text" id="js-<%= verses.id %>-verse">
                <%= verses.verse %>
              </p>
              <button onclick="sendToDisplay('<%= verses.id %>')" class="btn btn-outline-primary">Rādīt</button>
            </div>
          </div>
          <% }
          })%>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addVerseModal" tabindex="-1" role="dialog" aria-labelledby="addVerseModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addVerseModalLabel">
              Pievienot rakstu vietu
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/sendMessage" id="addVerse">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Kam?</label>
                </div>
                <select required class="custom-select" name="inputGroupSelect01" id="inputGroupSelect01">
                <optgroup label="Izvēlēties kam pievienot rakstu vietu">
                  <option value="guest">Viesim</option>
                  <option value="host">Vadītājam</option>
                </optgroup>
                </select>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Rakstu vieta</span>
                </div>
                <select id="book" name="book" class="custom-select">
                  <optgroup label="Vecā derība">
                    <option value="1">1. Mozus grāmata</option>
                    <option value="2">2. Mozus grāmata</option>
                    <option value="3">3. Mozus grāmata</option>
                    <option value="4">4. Mozus grāmata</option>
                    <option value="5">5. Mozus grāmata</option>
                    <option value="6">Jozuas grāmata</option>
                    <option value="7">Soģu grāmata</option>
                    <option value="8">Rutes grāmata</option>
                    <option value="9">1. Samuēla grāmata</option>
                    <option value="10">2. Samuēla grāmata</option>
                    <option value="11">1. Ķēniņu grāmata</option>
                    <option value="12">2. Ķēniņu grāmata</option>
                    <option value="13">1. Laiku grāmata</option>
                    <option value="14">2. Laiku grāmata</option>
                    <option value="15">Ezras grāmata</option>
                    <option value="16">Nehemijas grāmata</option>
                    <option value="17">Esteres grāmata</option>
                    <option value="18">Ījaba grāmata</option>
                    <option value="19">Psalmi</option>
                    <option value="20">Salamana pamācības</option>
                    <option value="21">Salamans mācītājs</option>
                    <option value="22">Salamana augstā dziesma</option>
                    <option value="23">Jesajas grāmata</option>
                    <option value="24">Jeremijas grāmata</option>
                    <option value="25">Raudu dziesmas</option>
                    <option value="26">Ecēhiēla grāmata</option>
                    <option value="27">Daniēla grāmata</option>
                    <option value="28">Hozejas grāmata</option>
                    <option value="29">Joēla grāmata</option>
                    <option value="30">Āmosa grāmata</option>
                    <option value="31">Obadijas grāmata</option>
                    <option value="32">Jonas grāmata</option>
                    <option value="33">Mihas grāmata</option>
                    <option value="34">Nahuma grāmata</option>
                    <option value="35">Habakuka grāmata</option>
                    <option value="36">Cefanijas grāmata</option>
                    <option value="37">Hagaja grāmata</option>
                    <option value="38">Caharijas grāmata</option>
                    <option value="39">Maleahija grāmata</option>
                  </optgroup>
                  <optgroup label="Jaunā derība">
                    <option value="40">Mateja evaņģēlijs</option>
                    <option value="41">Marka evaņģēlijs</option>
                    <option value="42">Lūkas evaņģēlijs</option>
                    <option value="43">Jāņa evaņģēlijs</option>
                    <option value="44">Apustuļu darbi</option>
                    <option value="45">Romiešiem</option>
                    <option value="46">1. Korintiešiem</option>
                    <option value="47">2. Korintiešiem</option>
                    <option value="48">Galatiešiem</option>
                    <option value="49">Efeziešiem</option>
                    <option value="50">Filipiešiem</option>
                    <option value="51">Kolosiešiem</option>
                    <option value="52">1. Tesaloniķiešiem</option>
                    <option value="53">2. Tesaloniķiešiem</option>
                    <option value="54">1. Timotejam</option>
                    <option value="55">2. Timotejam</option>
                    <option value="56">Titam</option>
                    <option value="57">Filemonam</option>
                    <option value="58">Ebrejiem</option>
                    <option value="59">Jekaba vēstule</option>
                    <option value="60">Pētera 1. vēstule</option>
                    <option value="61">Pētera 2. vēstule</option>
                    <option value="62">Jāņa 1. vēstule</option>
                    <option value="63">Jāņa 2. vēstule</option>
                    <option value="64">Jāņa 3. vēstule</option>
                    <option value="65">Jūdas vēstule</option>
                    <option value="66">Atklāsmes grāmata</option>
                  </optgroup>
                </select>
                <input type="text" class="form-control" name="scripture" id="scripture" aria-describedby="basic-addon3"/>
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Pants</span>
                </div>
                <textarea class="form-control" name="verse" aria-label="Pants"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Aizvērt</button>
            <input type="submit" form="addVerse" class="btn btn-primary" value="Pievienot sarakstam"/>
          </div>
        </div>
      </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="display.js"></script>
  </body>
</html>
