<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="socket.io.js"></script>
    <title>Vadības panelis</title>
  </head>

  <body>
    <section hidden>
      <div id="change_username">
        <input id="username" type="text" />
        <button id="send_username" type="button">Change username</button>
      </div>
    </section>

    <section id="input_zone" hidden>
      <textarea id="message" class="vertical-align"></textarea>
      <button id="send_message" class="vertical-align" type="button">
        Send
      </button>
    </section>

    <div class="container">
      <header>
      <div class="row mb-5">
        <div class="col-sm">
          <h1 class="display-4 float-left">Bībeles panti raidījumam</h1>
          <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addVerseModal" style="margin-top: 1em;">
                Pievienot pantu
              </button>
              <button type="button" class="btn btn-danger" style="margin-top: 1em;">
                Dzēst visus pantus
              </button>
              <button type="button" class="btn btn-dark" style="margin-top: 1em;">Tīrīt displeju</button>
            </div>
        </div>
      </div>
      </header>
      <div class="row ">
        <div class="col-sm"></div>
      </div>
      <div class="row">
        <div class="col-sm" id="host">
          <% data.host.forEach(function(verses, index){
            if (/\d/.test(verses.verse)) { %>
            <div class="card mb-3">
            <div class="card-body">
              <div class="card-title" id="js-scripture-<%= verses.id %>">
                <%= verses.scripture %>
                <button type="button" class="close" aria-label="Close" onclick="deleteVerseFromJSON('<%= index %>', 'host')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Vadītājs</h6>
                <div class="list-group" id="js-verse-<%= verses.id %>">
                    <% verses.verse.match(/\d+\s+[A-ž\s\x2C\x2E\x3A\x22\x2D]+/g).forEach( function (res, count) {%>
                      <button type="button" class="list-group-item list-group-item-action verse-button">
                        <%= res %>
                      </button>
                    <% })%>
                </div>
              </p>
              <button class="btn btn-secondary" onclick="SendToDisplayAll('<%= verses.id %>')">Rādīt visu</button> 
              <button class="btn btn-primary sendSelected" onclick="SendToDisplaySelected('<%= verses.id %>')" disabled>Rādīt iezīmētos</button>
            </div>
          </div>
          <% }
          else { %>
            <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title" id="js-<%= verses.id %>-scripture">
                <%= verses.scripture %>
                <button type="button" class="close" aria-label="Close" onclick="deleteVerseFromJSON('<%= index %>', 'host')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </h5>

              <h6 class="card-subtitle mb-2 text-muted">Vadītājs</h6>
              <p class="card-text" id="js-<%= verses.id %>-verse">
                <%= verses.verse %>
              </p>
              <a href="" onclick="sendToDisplay('<%= verses.id %>')" class="card-link">Rādīt</a>
            </div>
          </div>
          <% }
          })%>
          
        </div>
        <div class="col-sm" id="guest">
          <% data.guest.forEach(function(verses, index){
            if (/\d/.test(verses.verse)) { %>
            <div class="card mb-3">
            <div class="card-body">
              <div class="card-title" id="js-scripture-<%= verses.id %>">
                <%= verses.scripture %>
                <button type="button" class="close" aria-label="Close" onclick="deleteVerseFromJSON('<%= index %>', 'host')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">Viesis</h6>
                <div class="list-group" id="js-verse-<%= verses.id %>">
                    <% verses.verse.match(/\d+\s+[A-ž\s\x3A\x3B\x22\x2D\x2C\x2E\x21\x3F]+/g).forEach( function (res, count) {%>
                      <button type="button" class="list-group-item list-group-item-action verse-button">
                        <%= res %>
                      </button>
                    <% })%>
                </div>
              </p>
              <button class="btn btn-secondary" onclick="SendToDisplayAll('<%= verses.id %>')">Rādīt visu</button> 
              <button class="btn btn-primary sendSelected" onclick="SendToDisplaySelected('<%= verses.id %>')" disabled>Rādīt iezīmētos</button>
            </div>
          </div>
          <% }
          else { %>
            <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title" id="js-<%= verses.id %>-scripture">
                <%= verses.scripture %>
                <button type="button" class="close" aria-label="Close" onclick="deleteVerseFromJSON('<%= index %>', 'guest')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </h5>

              <h6 class="card-subtitle mb-2 text-muted">Viesis</h6>
              <p class="card-text" id="js-<%= verses.id %>-verse">
                <%= verses.verse %>
              </p>
              <a href="" onclick="sendToDisplay('<%= verses.id %>')" class="card-link">Rādīt</a>
            </div>
          </div>
          <% }
          })%>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addVerseModal" tabindex="-1" role="dialog" aria-labelledby="addVerseModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addVerseModalLabel">
              Pievienot rakstu vietu
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/sendMessage" id="addVerse">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Kam?</label>
                </div>
                <select required class="custom-select" name="inputGroupSelect01" id="inputGroupSelect01">
                <optgroup label="Izvēlēties kam pievienot rakstu vietu">
                  <option value="host">Vadītājam</option>
                  <option value="guest">Viesim</option>
                </optgroup>
                </select>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Rakstu vieta</span>
                </div>
                <input type="text" class="form-control" name="scripture" id="scripture" aria-describedby="basic-addon3"/>
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Pants</span>
                </div>
                <textarea class="form-control" name="verse" aria-label="Pants"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Aizvērt</button>
            <input type="submit" form="addVerse" class="btn btn-primary" value="Pievienot sarakstam"/>
          </div>
        </div>
      </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="display.js"></script>
  </body>
</html>
